{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}



    {% block css %} 
        <style>
            
            #li{width:150px;}
            span{color:red;}

        </style>

    {% endblock %}

    {% block content %}
    
    <div class="container">
        <div class="starter-template">
        
            <div class="row">
                <div class="col-xs-12">

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">Product</th>
                            <th class="text-center">Unit Price</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Update Cart</th>
                            <th class="text-center">Remove Product</th>            
                        </tr>        
                    </thead>

                    <tbody>
                        {% for item in cart %}
                        <tr>
                            <td class="text-center" id="itemProduct"><a href="{{ item.product.get_absolute_url }}">{{ item.product }}</a></td>
                            <td class="text-center">${{ item.price }}</td>
                            <td  class="text-center">${{ item.total_price }}</td>
                            <td class="text-center"><form class="form-inline" action="{% url 'cart:add_item' item.product.pk %}" method="POST">
                                            {% csrf_token %}
                                        <div class="form-group">
                                            {{ item.update_quantity_form.quantity }}
                                        </div>
                                            {{ item.update_quantity_form.update }} <!--hidden form field-->
                                        <button type="submit" class="btn btn-primary btn-sm">Update Cart</button>
                                </form>
                            </td>
                            <td class="text-center" id="removeItem"><a href="{% url 'cart:remove_item' item.product.pk %}" class="btn btn-default btn-sm" role="button">Remove Item</a></td>         
                        </tr>

                        {% empty %}

                        <h3>You Have 0 Products In Your Cart</h3>

                    {% endfor %}

                    </tbody>   
                </table>
            </div><!--/.table-responsive-->
                    
            <div class="row">                    
                   <div class="col-md-4 pull-right">
                            <form class="form-inline" action="{% url 'coupons:apply' %}" method="POST">
                                    {% csrf_token %}
                                <div class="form-group">
                                    {{ coupon_form.code }}
                                </div>
                                <button type="submit" class="btn btn-primary btn">Apply Coupon</button>
                            </form>
                   </div>
                </div>
                <br/>  
                
                
            <div class="row">
                <div class="col-md-4 pull-right">
                    <ul class="list-group">
                        <li class="list-group-item">Sub-Total ${{ sub_total|floatformat:"2" }}</li>
                        {% if disc is not None %} <!--if there's a discount, place it in this <li>-->
                        <li class="list-group-item">Your Discount: <span>-${{ disc|floatformat:"2" }}</span></li>
                        {% endif %}
                        <li class="list-group-item active">Total ${{ cart_total|floatformat:"2" }}</li>
                    </ul>
                </div>
            </div>
               
                
                    
                    
         </div><!--/.col-->
        </div><!--/.row-->
            
        </div><!--/.starter-template-->
    </div><!--/.container-->
    {% endblock %}
