appdirs==1.4.0
Django==1.10.5
django-autoslug==1.9.3
django-bootstrap3==8.2.1
django-crispy-forms==1.6.1
django-debug-toolbar==1.7
django-password-strength==1.2.1
packaging==16.8
pyparsing==2.1.10
pytz==2016.10
six==1.10.0
sqlparse==0.2.3
