{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="container">
        <div class="starter-template">
            <h1>L.L. Bean Online Store&nbsp;<a href="{% url 'cart:show_cart' %}"</a></h1>
            <h4>Go To Your Cart, {{ request.user|capfirst }}.</a></h4>
            <hr/>
        
        
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <h1 id="product_name">{{ product.name }}</h1>
                    <h4>{{ product.description }}</h4>
                    <p>${{ product.price }}</p>
                    <b id="like_count">{{ product.likes }}</b> people like this product.
                    <button id="likes" data-proid="{{ product.pk }}" class="btn btn-xs btn-primary" type="button">Like</button>
                    <hr>
                    <a href="{% url 'shop:user_likes' product.slug %}" class="btn btn-default btn-sm" role="button">Like This!</a>
                    <p><b>{{ product.like_count }}</b> people like this product.</p>
                </div>
            </div>
        </div>  
            
            
            
        <div>
            <div class="row">
                <div class="col-md-3 col-md-offset-4">
                    <form action="{% url 'cart:add_item' product.pk %}" method="POST">
                                {% csrf_token %}
                                {{ form|crispy }}
                        <input class='btn btn-primary btn-block' type='submit' value='Add'></input>
                    </form>
                </div>
             </div>
        </div>
        
        </div>
    </div>
{% endblock %}
    