{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="container">
        <div class="starter-template">
            <h1>L.L. Bean Online Store&nbsp;<a href="{% url 'cart:show_cart' %}"<span><i class="fa fa-cart-plus fa-1x" aria-hidden="true"></i></span></a></h1>
            <h3>{{ request.user|capfirst }}</a></h3>
            <hr/>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Add To Cart</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-left">{{ product.name }}</td>
                        <td class="text-left">{{ product.description }}</td>
                        <td class="text-left">{{ product.price }}</td>
                    <form action="{% url 'cart:add_item' product.pk %}" method="POST">{% csrf_token %}
                        <td class="text-left">{{ form.quantity }}{{ form.update }}</td>
                        <td><input class='btn btn-success' type='submit' value='Add'></input></td>
                    </form>
                        
                    </tr>
                </tbody>
             </table>
        </div>
        </div>
    </div>
{% endblock %}
    