{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block css %}
    <link rel="stylesheet" href="https://bootflat.github.io/bootflat/css/bootflat.css">
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="container">
            <div class="starter-template">

                    <div class="row">
                        <div class="col-md-6 item-col">
            <!-------------------------------------- begin tabs -------------------------------------->
                            <ul class="nav nav-tabs">
                              <li class="active" style="padding-right:40px;padding-left:35px;"><a href="#tab_a" data-toggle="tab">Product</a></li>
                              <li style="padding-right:30px;padding-left:20px;"><a href="#tab_b" data-toggle="tab">Description</a></li>
                              <li style="padding-left:30px;"><a href="#tab_c" data-toggle="tab">Price</a></li>
                            </ul>

                             <div class="tab-content well">
                                <div class="tab-pane fade in active" id="tab_a">
                                    <h4>{{ product.name }}</h4>
                                    <p>{% lorem 1p random %}</p>
                                    </div>
                                    <div class="tab-pane fade in" id="tab_b">
                                        <h4>{{ product.description }}</h4>
                                        <p>{% lorem 1p random %}</p>
                                    </div>
                                    <div class="tab-pane fade" id="tab_c">
                                        <h4>Our Low Price! ${{ product.price }}</h4>
                                        <p>{% lorem 1p random %}</p>
                                    </div>
                                </div><!-- tab content -->

                            </div>
            <!-------------------------------------- end tabs -------------------------------------->

                <div class="col-md-6 item-col">
                        <div class="pricing">
                            <ul>
                            <li class="unit price-primary">
                                <div class="price-title">
                                    <h3>${{ product.price }}</h3>
                                    <p>Per Unit</p>
                                </div>
                                <div class="price-body">
                                    <h4>{{ product.name }}</h4>
                                    <p>{{ product.description }}</p>
                                    <ul>
                                        <li>250 SKU</li>
                                        <li>1 GB Storage</li>
                                        <li>3.5% Trans Fee</li>
                                    </ul>
                                </div>
                                <div class="price-foot">
                                    <form action="{% url 'cart:add_item' product.pk %}" method="POST">
                                            {% csrf_token %}
                                            {{ form|crispy }}
                                        {# <input class='btn btn-primary btn-block' type='submit' value='Add'></input> #}
                                        <button type="submit" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-shopping-cart"></span> Add</button>
                                    </form>
                                </div>
                        </ul>
                    </div><!--end pricing div-->
                        <!-------------------------------------- likes ----------------------------------------->
                        <div class="wrapper" style="padding-top:20px;">
                                <span><b id="like_num">{{ product.like_count }}</b></span>
                                {% if product.like_count > 1 %} people like this product.{% else %} person likes this product.{% endif %}

                                <button type="button" id="like_link" data-proid="{{ product.pk }}"class="btn btn-primary btn-xs">
                                    <i class="icon-large icon-thumbs-up"></i> Like Me!
                                </button>
                            </div><!-- end wrapper -->
                        <!-------------------------------------- end likes -------------------------------------->
                    </div><!-- end col -->

                    </div><!-- end row -->
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end container-fluid -->


        <div class="container-fluid" style="background-color:white;">
           <div class="container">
                <div class="row">
                    <div class="col-md-6" style="border-style:solid;border-width:1px;border-color:#f1f1f1;margin-top:51px;padding:18px;margin-bottom:20px;">

                            <p class="lead text-center" style="padding-top:5px;">You Liked These Products</p>
                            <d1>
                            {% with likes=user.product_likes.all %}
                                {% for product in likes %}
                                    <dt>{{ product.name }}</dt>
                                    <dd>-{{ product.description }}</dd>
                                {% endfor %}
                            {% endwith %}
                            </d1>
                    </div><!-- end col-md-6 -->
                <div class="col-md-6" style="border-style:solid;border-width:1px;border-color:#f1f1f1;margin-top:51px;padding:18px;margin-bottom:20px;">
                    {% if user.is_authenticated %}
                    <p class="lead text-center" style="padding-top:5px;">You Are Following These People</p>
                        {% for friend in following %}
                            <ul>
                                <li>{{ friend }}</li>
                            </ul>
                            {% endfor %}
                    {% endif %}
                </div>


                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end container-fluid -->


{% endblock %}
