{% extends 'base.html' %}
{% load staticfiles %}



{% block content %}
    <div class="container">
        <div class="starter-template">
            <div class="row">
                <div class="col-md-12">
                    <h3>Shop For Your Favorite Clothes</h3>
                </div>
            </div>
            <hr/>
                <ul class="fa-ul">
                    {% for product in products %}
                    <li><i class="fa-li fa fa-check-square"></i><h4><a href="{{ product.get_absolute_url }}">{{ product }}: ${{ product.price }}</a></h4></li>
                    
                    <hr>
                    {% endfor %}
                </ul>
        </div>
    </div>

{% endblock %}
   
