{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">    
              <h2 class="text-center" style="border-bottom:solid;border-width:2px;padding-bottom:5px;">Register</h2>
              <hr>

              <form action="." method="POST" style="margin-bottom:50px;">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary btn-lg btn-block">Sign up</button>
              </form>
        </div>
    </div>
    
   
</div>
{% endblock %}